.portfolio {
  margin-top: 93px;
  margin: 93px 0px 38px 0px;
  display: flex;
  justify-content: center;
}

.heading {
  position: relative;
  font-size: 10vw;
  letter-spacing: 5px;
  font-family: "Koulen";
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 4px #00000066;
}

.heading img {
  position: absolute;
  z-index: -1;
  height: 18vw;
}

.portfolio p {
  position: absolute;
  font-family: "kalam";
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-shadow: none;
}

.ele-1 {
  top: 36%;
  left: -8%;
  rotate: 270deg;
}

.ele-2 {
  top: 17%;
  left: 1%;
}

.ele-3 {
  top: 68%;
  left: 36%;
}

.ele-4 {
  rotate: 90deg;
  top: 50%;
  right: -3%;
}

.ele-5 {
  top: 60%;
  /* right: -4%; */
  right: -10%;
}

.ele-6 {
  font-size: 0.75rem !important;
  rotate: -90deg;
  top: 43%;
  right: 31%;
}

/* Responsive for tablets and below */
@media (max-width: 768px) {
  .portfolio {
    margin-top: 93px;
    margin: 33px 0px 38px 0px;
    display: flex;
    justify-content: center;
  }

  .heading {
    font-size: 12vw;
  }

  .heading img {
    height: 25vw;
  }

  .portfolio p {
    font-size: 0.45rem;
  }

  .ele-1 {
    top: 30%;
    left: -5%;
  }

  .ele-2 {
    top: 15%;
    left: 5%;
  }

  .ele-3 {
    top: 65%;
    left: 30%;
  }

  .ele-4 {
    top: 45%;
    right: 0%;
  }

  .ele-5 {
    top: 55%;
    right: 2%;
  }

  .ele-6 {
    font-size: 0.3rem !important;
    top: 43%;
    right: 31%;
  }
}
