.portfolio {
  margin-top: 93px;
  margin: 93px 0px 38px 0px;
  display: flex;
  justify-content: center;
}

.heading {
  position: relative;
  height: 214px;
  width: 46%;
  font-size: 800%;
  letter-spacing: 5px;
  font-family: "Koulen";
  background-image: url("../../assets/Hero-Background.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px 4px #00000066;
}

.portfolio p {
  position: absolute;
  font-family: "Kosugi Maru";
  font-size: 20px;
  letter-spacing: 0px;
  text-shadow: none;
}

.ele-1 {
  top: 36%;
  left: 5%;
  rotate: 270deg;
}

.ele-2 {
  top: 16%;
  left: 11.5%;
}

.ele-3 {
  top: 70%;
  left: 260px;
}

.ele-4 {
  rotate: 90deg;
  top: 50%;
  right: 8%;
}

.ele-5 {
  top: 60%;
  right: 8%;
}
