.project-container {
	margin: 120px 0 60px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	overflow-x: hidden;
}

.project-heading {
	font-family: "Koulen";
	font-size: 120px;
}

.projects {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 70px;
}

.projects-slider {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 20px 40px;
}

.project-slide {
	display: flex !important;
	justify-content: center;
	box-sizing: border-box;
}

.slick-slide {
	cursor: grab;
}

.slick-slide:active {
	cursor: grabbing;
}
