.casestudy-container {
  margin-top: 120px;
  margin: 120px 0 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.casestudy-heading {
  font-family: "Koulen";
  font-size: 120px;
}

.studies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 70px;
}
