.project-page {
	margin: 100px 0 60px 0;
	display: flex;
}

.top-section {
	font-family: "inter";
	position: relative;
	width: 100vw;
	height: auto;
	display: flex;
	flex-direction: column;
}

.projectpage-title {
	font-family: "inter";
	font-size: 90px;
	line-height: 110px;
	font-weight: 500;

	width: 490px;
	padding: 20px 0 0 120px;
	margin: 40px 0 0 0;
}

.background-box {
	margin-top: 100px;
	width: 771px;
	height: 689px;
	background-color: #f8ff30;
}

.cover-image img {
	top: -150px;
	z-index: 1;
	position: absolute;
	right: 0;
	width: 1108px;
	height: 1038px;
	/* scale: 1.1; */
}

.sub-section {
	/* position: relative; */
	padding: 20px 0 0 120px;
	margin: 40px 0 0 0;
}

.sub-title {
	width: 200px;
	position: relative;
	font-weight: 600;
	font-size: 40px;
	letter-spacing: 4px;
	line-height: 50px;
}

.sub-para {
	width: 500px;
	height: auto;
	font-size: 25px;
	padding: 10px 0 0 0;
	line-height: 35px;
}

.projects {
	display: flex;
	gap: 70px;
}
